apiVersion: apps/v1
kind: Deployment
metadata:
  name: groww-app
  labels:
    app: groww-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: groww-app
  template:
    metadata:
      labels:
        app: groww-app
    spec:
      containers:
      - name: groww-app
        image: vishal28d/fin-board:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 20
          periodSeconds: 20
