apiVersion: v1
kind: Service
metadata:
  name: fin-board-service
  namespace: default
spec:
  type: NodePort
  selector:
    app: fin-board
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30007
